.producto {
  width: 250px;
  margin: 20px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
}

.carrito {
  display: flex;
  flex-wrap: wrap;
}

.rojo {
  color: red;
  text-decoration: underline;
  font-family:'Courier New', Courier, monospace
}
